html,body{
	height:100%;
	user-select:none;
	width:100%;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-webkit-touch-callout:none;
	-webkit-user-select:none
}
body{
	background:#7786c4;
	margin:0;
	overflow:hidden
}
a:link{color:#5783e0;text-decoration:none}
a:visited{color:#5783e0}
a:hover{color:#ea6363}
.spanLink{color:#5783e0;cursor:pointer}
.spanLink:hover{color:#ea6363}
.deadLink{color:#fff;cursor:auto}
.deadLink:hover{color:#fff}
.centerContent{text-align:center;width:100%}
#twitterFollBt{z-index:200}
#modeSelector{
	color:#5783e0;
	cursor:pointer;
	font-size:20px;
	left:10px;
	position:absolute;
	top:10px;
	z-index:200!important
}
#modeSelector:hover{color:#ea6363}
#modeListView{
	background:rgba(40,40,40,.5);
	border-radius:4px;
	display:none;
	left:10px;
	padding:8px;
	position:absolute;
	top:40px;
	z-index:300
}
.modeListItem{
	color:#5783e0;
	cursor:pointer;
	font-size:18px
}
.modeListItem:hover{color:#ea6363}
#controlsButton{color:#5783e0;cursor:pointer}
#controlsButton:hover{color:#ea6363}
#shareContainer{
	left:10px;
	padding:5px;
	position:absolute;
	top:10px;
	width:100%;
	z-index:200
}
#darkener{
	background:rgba(40,40,40,.6);
	display:block;
	height:100%;
	position:absolute;
	width:100%
}
#menuContainer{
	align-items:center;
	display:flex;
	height:100%;
	position:absolute;
	text-align:center;
	top:10px;
	width:100%;
	z-index:100
}
#lobbyKey{
	bottom:30px;
	font-size:20px;
	padding:10px;
	position:absolute;
	right:10px;
	z-index:100
}
#twitterFollBt{
	bottom:40px;
	left:15px;
	position:absolute
}
#followText{
	bottom:75px;
	color:#fff;
	font-size:28px;
	left:15px;
	position:absolute
}
#mainCanvas{
	height:100%;
	position:absolute;
	width:100%
}
#minimap{
	background:rgba(40,40,40,.5);
	border-radius:4px;
	bottom:10px;
	height:100px;
	position:absolute;
	right:10px;
	width:100px
}
#timeDisplay{
	bottom:114px;
	color:#fff;
	font-size:14px;
	position:absolute;
	right:14px;
	text-align:right
}
#gameUiContainer{
	display:none;
	height:100%;
	pointer-events:none;
	position:absolute;
	width:100%
}
#adContainer{
	display:inline-block;
	margin-top:20px;
	text-align:center;
	width:100%
}
#adHolderDiv{display:inline-block}
#leaderboardContainer{
	background:rgba(40,40,40,.5);
	border-radius:4px;
	color:#fff;
	font-size:30px;
	padding:10px;
	position:absolute;
	right:10px;
	top:10px
}
.leaderboardItem{
	color:rgba(255,255,255,.6);
	font-size:17px;
	margin-top:2px
}
.leaderYou{
	color:#fff;
	display:inline-block;
	margin-left:10px;
	max-width:150px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	-o-text-overflow:ellipsis
}
.leader{
	color:rgba(255,255,255,.6);
	display:inline-block;
	margin-left:10px;
	max-width:150px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	-o-text-overflow:ellipsis
}
.leaderboardLapsNum{
	display:inline-block;
	float:right;
	margin-left:10px;
	text-align:right
}
#weaponsList{
	bottom:-2px;
	position:absolute;
	text-align:center;
	width:100%
}
#weaponsPopups{
	bottom:80px;
	position:absolute;
	text-align:center;
	width:100%
}
.weaponPopupRow{
	display:inline-block;
	margin:6px;
	text-align:center;
	visibility:hidden;
	width:65px
}
.weaponPopupItem{
	background:rgba(40,40,40,.5);
	border-radius:4px;
	bottom:0;
	color:#fff;
	cursor:pointer;
	font-size:12px;
	margin-top:7px;
	padding:3px;
	pointer-events:auto;
	position:absolute;
	text-align:center;
	width:120px
}
.weaponPopupItem:hover{background:rgba(80,80,80,.5)}
.weaponItemIndx{
	color:#fff;
	display:inline-block;
	font-size:15px;
	margin:6px;
	text-align:center;
	width:65px
}
.weaponItem{
	background:rgba(40,40,40,.5);
	border-radius:4px;
	cursor:pointer;
	display:inline-block;
	height:65px;
	margin:6px;
	pointer-events:auto;
	width:65px
}
.weaponItem:hover{background:rgba(80,80,80,.5)}
.weaponItem.upgradeTxt{
	color:#fff;
	display:inline-block;
	font-size:16px;
	margin-top:12px;
	text-align:center;
	width:65px
}
.weaponItem.upgradeNum{
	color:rgba(255,255,255,.5);
	display:inline-block;
	font-size:13px;
	text-align:center;
	width:65px
}
#upgradesInfoWrapper{
	position:absolute;
	text-align:center;
	top:10px;
	width:100%
}
#upgradesInfo{
	background:rgba(40,40,40,.5);
	border-radius:4px;
	color:#fbf079;
	display:inline-block;
	padding:10px
}
#weaponsContainer{
	bottom:6px;
	position:absolute;
	text-align:center;
	width:100%
}
#weaponsProgress{
	background:rgba(40,40,40,.5);
	border-radius:4px;
	color:#fff;
	display:inline-block;
	font-size:12px;
	height:20px;
	line-height:18px;
	padding-left:3px;
	text-align:center;
	vertical-align:middle;
	width:280px
}
#wpnsProgressBar{
	background:rgba(255,255,255,.3);
	border-radius:4px;
	height:14px;
	position:absolute;
	top:5px;
	width:0
}
#statContainer{
	bottom:10px;
	left:10px;
	position:absolute
}
#coinDisplay{
	background:rgba(40,40,40,.5);
	border-radius:4px;
	color:#fff;
	display:inline-block;
	font-size:18px;
	margin-top:10px;
	padding:4px;
	text-align:center;
	width:168px
}

#scoreContainer {
	display: inline-block;
	padding: 10px;
	background-color: rgba(40, 40, 40, 0.5);
	font-family: 'regularF';
	font-size: 20px;
	border-radius: 4px;
	color: #fff;
}
#upgradeContainer{
	display:none;
	left:10px;
	position:absolute;
	top:0
}
.upgradeSubHeader{
	background:rgba(40,40,40,.5);
	border-radius:4px;
	color:#fff;
	display:inline-block;
	font-size:16px;
	margin:7px0 5px0;
	padding:3px3px3px5px;
	text-align:center;
	width:167px
}
.upgradeItem{
	background:rgba(40,40,40,.5);
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	font-size:11px;
	margin-bottom:5px;
	padding:3px;
	pointer-events:auto;
	text-align:center;
	width:150px
}
.upgradeItem:hover{background:rgba(80,80,80,.5)}
.upgrIndx{
	color:#fff;
	font-size:13px;
	padding-left:8px
}
.upgrProg{
	background:rgba(255,255,255,.3);
	border-radius:4px;
	height:14px;
	position:absolute;
	width:0
}
.greyMenuText{color:rgba(255,255,255,.5)}
.whiteText{color:#fff}
#userNameInput{
	border:none;
	border-radius:4px;
	font-size:26px;
	margin-left:10px;
	padding:6px6px6px12px
}
#enterGameButton{
	background:#ea6363;
	border:none;
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	font-size:26px;
	margin-left:10px;
	padding:5px
}
#enterGameButton:hover{background:#ee7d7d}
#loadingContainer{
	color:#fff;
	display:none;
	font-size:26px;
	padding:6px
}
#gameTitle{
	color:#fff;
	font-size:130px;
	text-align:center;
	width:100%
}
#creatorLink{
	bottom:0;
	color:rgba(255,255,255,.9);
	font-size:20px;
	margin:0 0 5px10px;
	padding:5px;
	position:absolute;
	text-align:center;
	z-index:1000
}
#infoLinks{
	bottom:0;
	color:rgba(255,255,255,.9);
	font-size:20px;
	margin:0 10px5px0;
	padding:5px;
	position:absolute;
	right:0;
	text-align:center;
	z-index:1000
}
#infoLinks2{
	color:rgba(255,255,255,.9);
	font-size:20px;
	margin:0 10px5px0;
	padding:5px;
	position:absolute;
	right:0;
	text-align:center;
	top:0;
	z-index:1000
}
#skinInfo{
	background:rgba(0,0,0,.4);
	border-radius:4px;
	color:#fff;
	display:none;
	font-size:26px;
	margin-left:-145px;
	padding:6px6px6px16px;
	position:absolute;
	text-align:left;
	width:110px
}
#skinName{
	color:#fff;
	font-size:22px;
	padding:4px4px4px0
}
#skinIcon{
	background:rgba(255,255,255,.3);
	height:100px;
	width:100px
}
#skinSelector{
	background:#5783e0;
	border:none;
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	display:none;
	font-size:26px;
	padding:6px12px
}
#skinSelector:hover{background:#7a9de7}
